<div class="h-dvh flex justify-center items-center">
  <section class="text-center p-9 rounded
  border border-solid border-gray-300">
    <h1 class="!text-3xl">To-do List App</h1>
    <div class="mb-5">
      Welcome to the To-do List App! <br>
      Please sign in to continue
    </div >
    <div class="grid gap-3">
    <button (click)="authService.signInWithGoogle()" mat-stroked-button>Sign in with Google</button>
    <button (click)="authService.signInWithGitHub()" mat-stroked-button class="!text-black">Sign in with GitHub</button>
    </div>
  </section>
</div>
